# Data Science Tools and Ecosystem

In this notebook,Data Science tools ans Ecosystem are summarized

**Objectives**

## Bullet List
* Julia
* Scala
* Ruby
* Apache Hadoop

Some of the popular languages that Data Scientists use are :
## ordered list
1. python
2. SQL
3. scala
4. Java

Some of the commonly used libraries used by Data Scientists are :
## ordered list
1. Pandas
2. Matplotlib
3. TensorFlow
4. NumPy

|Data Science Tools|
|---|
|Apache Spark|
|Jupyter notebook|
|Tableau|

### Below are a few examples of evaluating arithmetic expression in python

#This is a simple arithmetic expression to multiply then add integers

In [2]:
(3*4)+5

17

#This will convert 200 minutes into hours by dividing by 60

In [3]:
minutes=200
hours=minutes/60
print("The equivalent value in hours is :",hours)

The equivalent value in hours is : 3.3333333333333335

## AUTHOR
SELINA GOLD J